FABRIC_MSP_ID=RetailerMSP
FABRIC_CHANNEL_NAME=food-trace
FABRIC_CHAINCODE_NAME=food-trace-contract
FABRIC_PEER_ENDPOINT=peer0.retailer.example.com:7051
FABRIC_PEER_HOST_ALIAS=peer0.retailer.example.com
FABRIC_TLS_CERT_PATH=./crypto/peer/tls/ca.crt
FABRIC_IDENTITY_CERT_PATH=./crypto/user/signcerts/cert.pem
FABRIC_PRIVATE_KEY_PATH=./crypto/user/keystore/key.pem